spring:
  datasource:
    url: jdbc:postgresql://db.szqzfubuydylvjxiicpi.supabase.co:5432/postgres?sslmode=require
    username: postgres
    password: Jaynikam@2
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

server:
  port: ${PORT:8080}

logging:
  level:
    com.airesumemaker: INFO
    org.springframework.security: INFO
    org.springframework.web: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics